<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Minfo-Mapper">

	 <sql id="search">
		<if test="searchType == 't'.toString()">
			and minfo_title like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'w'.toString()">
			and minfo_writer like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and minfo_content like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			minfo_title like '%'||#{keyword}||'%'
			or
			minfo_content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			minfo_writer like '%'||#{keyword}||'%'
			or
			minfo_content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			minfo_title like '%'||#{keyword}||'%'
			or
			minfo_writer like '%'||#{keyword}||'%'
			or
			minfo_content like '%'||#{keyword}||'%'						
			)			
		</if>
	</sql>	
	
	<select id="selectSearchMinfoList" resultType="minfo">
		select *
		from(
		    select rownum as rnum,SearchMedi_InfoResult.*
		    from ( 
			 select MINFO_NO,
                      MINFO_TITLE, 
                      MINFO_WRITER, 
                      MINFO_CONTENT, 
                      MINFO_REGDATE, 
                      MINFO_UPDATE,
                      MINFO_COUNT, 
                      PCC_NUMBER
				 from medi_info n
                where n.minfo_no is not null
				<include refid="search" />				
				order by minfo_regDate desc
		    )  SearchMedi_InfoResult
		    <![CDATA[
		    where rownum <= #{endRow}
		    ]]>
		)
		 <![CDATA[
		where rnum >= #{startRow}		
		 ]]>
	</select>
	<select id="selectSearchMinfoListCount" resultType="int">
		select 
		count(*) 
		from medi_info
		where minfo_no is not null
		<include refid="search" />
		order by minfo_regDate desc
	</select>
	<select id="selectMinfoByMinfoNo" parameterType="int" resultType="minfo">
		select 
		* 
		from medi_info
		where minfo_no=#{minfoNo}
	</select>

<!-- 	<select id="selectMinfoByImage" resultType="minfo">
		select 
		* 
		from medi_info
		where content like '%'||#{imageFile}||'%'	
	</select>	 -->
	
	
	<select id="selectMinfoSequenceNextValue" resultType="int">
		select MEDI_INFO_SEQ.nextVal
		from dual
	</select>
	
	<select id="selectCategoryList" resultType="minfo">
		select *
		from pc_code
	</select>
	
 	<update id="increaseViewCount" parameterType="int">
		update medi_info
		set MINFO_COUNT=MINFO_COUNT+1
		where minfo_no=#{minfoNo}
	</update>
	
<!-- 	<update id="insertMinfo" parameterType="minfo">
		insert into 
				medi_info(minfo_no, minfo_title, minfo_writer, minfo_content, mem_id, pcc_number)
		values(#{minfoNo}, #{minfoTitle}, #{minfoWriter}, #{minfoContent}, #{memId}, #{pccNumber})
	</update>	 -->
	
		
<!--  	<update id="updateMinfo" parameterType="minfo">
		update medi_info 
		set 
		minfo_title=#{minfoTitle},minfo_writer=#{minfoWriter},minfo_content=#{minfoContent},pcc_number=#{pccNumber},minfo_update=sysdate
		where minfo_no=#{minfoNo}
	</update> -->
	 
<!-- 	<update id="deleteMinfo" parameterType="int" >
		delete 
		from medi_info 
		where minfo_no=#{minfoNo}		
	</update> -->

</mapper>