<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Stock-Mapper">
	
	<sql id="search">
		<if test="searchType == 'n'.toString()">
			and equip_name like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'm'.toString()">
			and equip_maker like '%'||#{keyword}||'%'			
		</if>
	</sql>
	
	<select id="searchEquList" resultType="stock">		
		select 
		* 
		from equiplist
		where equip_Code is not null
		<include refid="search"/>
		order by equip_category
	</select>
	
	
  
 <!-- 비품관리 매핑 -->
	<select id="selectEquipListByNo" parameterType="str" resultType="stock">
		select 
		* 
		from equiplist
		where equip_code=#{equipCode}
	</select>
	
	<select id="selectEquipList" parameterType="str" resultType="stock">
		select 
		* 
		from equiplist
		order by equip_category
	</select>
	
	<update id="insertEquipList" parameterType="stock">
		insert into 
		equiplist (equip_code,equip_name,equip_date,equip_stock,equip_suggest,equip_min,equip_maker,equip_distr,equip_price,equip_category)
		values('equ' || LPAD(EQUIPMENT_SEQ.nextval,3,0),#{equName},#{equUnit},#{equMaker},#{equDistr},#{equPrice})
	</update>
	
	
	<update id="insertEpuipListPreOrder" parameterType="stock">
		insert into
		pre_order (reo_code, equip_code,reo_maker ,reo_amount, reo_date, reo_price, reo_totalpay)
		VALUES 
		<foreach collection="orederList2" item="item" separator=" , ">
		('reo'||LPAD(EQUIPMENT_PREODER_SEQ.nextval,5,0),#{item.equipCode},#{item.equipMaker},to_number(#{item.equipStock}),TO_CHAR(SYSDATE, 'YYYYMMDD'),#{item.equipPrice},to_number(#{item.equipStock})*#{item.equipPrice})		
		 </foreach>
	</update>

	<select id="selectDrugStockList" parameterType="str" resultType="stock">
		select 
		* 
		from drug_stock
		order by dst_name
	</select>
<!--

소모품 매핑
	
	<select id="selectConsumByNo" parameterType="string" resultType="stock">
		select 
		* 
		from consumable
		where con_code=#{conCode}
	</select>
	
	<select id="selectConsumList" parameterType="string" resultType="stock">
		select 
		* 
		from consumable
		order by con_name
	</select>
	
	<update id="insertConsum" parameterType="stock">
		insert into 
		consumable(con_code,con_name,con_unit,con_maker,con_distr,con_price)
		values('con' || LPAD(CONSUMABLE_SEQ.nextval,3,0),#{conName},#{conUnit},#{conMaker},#{conDistr},#{conPrice})
	</update>	
	
	<update id="insertConsumPreOrder" parameterType="stock">
		insert into
		pre_order (reo_code, equ_code, reo_amount, reo_date, reo_price, reo_totalpay)
		VALUES ('reo'||LPAD(EQUIPMENT_PREODER_SEQ.nextval,5,0),#{equCode},to_number(#{equStock}),TO_CHAR(SYSDATE, 'YYYYMMDD'),#{equPrice},to_number(#{equStock})*#{equPrice})		
	</update>




의료기기 정보 매핑
	
	<select id="selectMedideviceByNo" parameterType="string" resultType="stock">
		select 
		* 
		from medidevice
		where medi_code=#{mediCode}
	</select>
	
	<select id="selectMedideviceList" parameterType="string" resultType="stock">
		select 
		* 
		from medidevice
		order by medi_name
	</select>
	
	<update id="insertMedidevice" parameterType="stock">
		insert into 
		medidevice(medi_code,medi_name,medi_maker,medi_distr,medi_price)
		values('medi' || LPAD(MEDIDEVICE_SEQ.nextval,3,0),#{mediName},#{mediMaker},#{mediDistr},#{mediPrice})
	</update>	
	
	<update id="insertMedidevicePreOrder" parameterType="stock">
		insert into
		pre_order (reo_code, equ_code, reo_amount, reo_date, reo_price, reo_totalpay)
		VALUES ('reo'||LPAD(EQUIPMENT_PREODER_SEQ.nextval,5,0),#{equCode},to_number(#{equStock}),TO_CHAR(SYSDATE, 'YYYYMMDD'),#{equPrice},to_number(#{equStock})*#{equPrice})		
	</update>

의약품 재고 매핑
	
		
	<select id="selectDrugStockByNo" parameterType="string" resultType="stock">
		select 
		* 
		from drug_stock
		where dst_code=#{dstCode}
	</select>
	
	<select id="selectDrugStockList" parameterType="string" resultType="stock">
		select 
		* 
		from drug_stock
		order by dst_name
	</select>
	
	<update id="insertDrugStock" parameterType="stock">
		insert into 
		drug_stock(dst_code,drug_no,dst_element,dst_no,dst_name,dst_unit,dst_maker,dst_price)
		values('dst' || LPAD(drugStock_seq.nextval,3,0),#{drugNo},#{dstElement},#{dstNo},#{dstName},#{dstUnit},#{dstMaker},#{dstPrice})
	</update>	
	
	<update id="insertDrugStockPreOrder" parameterType="stock">
		insert into
		pre_order (reo_code, equ_code, reo_amount, reo_date, reo_price, reo_totalpay)
		VALUES ('reo'||LPAD(equipment_preoder_seq.nextval,5,0),#{equCode},to_number(#{equStock}),TO_CHAR(SYSDATE, 'YYYYMMDD'),#{equPrice},to_number(#{equStock})*#{equPrice})		
	</update>



	 <sql id="search">
		<if test="searchType == 'n'.toString()">
			and equ_name like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and equ_code like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'm'.toString()">
			and equ_maker like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			notice_title like '%'||#{keyword}||'%'
			or
			notice_content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			notice_writer like '%'||#{keyword}||'%'
			or
			notice_content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			notice_title like '%'||#{keyword}||'%'
			or
			notice_writer like '%'||#{keyword}||'%'
			or
			notice_content like '%'||#{keyword}||'%'						
			)			
		</if>
	</sql>
	
	<select id="selectSearchEquipList" resultType="stock">		
		select *
		from(
		    select rownum as rnum,SearchEquipResult.*
		    from ( 
		    	select EQU_CODE, EQU_NAME, EQU_DATE, EQU_AMOUNT, EQU_MAKER, EQU_DISTR, EQU_PRICE
				from equipment
				where equ_code is not null
				<include refid="search" />				
				order by equ_date desc
		    )  SearchEquipResult
		    <![CDATA[
		    where rownum <= #{endRow}
		    ]]>
		)
		 <![CDATA[
		where rnum >= #{startRow}		
		 ]]>
	</select>
	
	<select id="selectEquipCount" resultType="int">
		select 
		count(*) 
		from equipment
		where equ_code is not null
		<include refid="search" />
		order by equ_date desc
		
	</select>



	<select id="selectNoticeByImage" resultType="notice">
		select 
		* 
		from notice_bo
		where content like '%'||#{imageFile}||'%'	
	</select>	
	
	
	
	
	<update id="increaseViewCount" parameterType="int">
		update notice
		set viewcnt=viewcnt+1
		where nno=#{nno}
	</update>
	
	
	
		
	<update id="updateNotice" parameterType="notice">
		update notice 
		set 
		title=#{title},content=#{content}		
		where nno=#{nno}
	</update>
	
	<update id="deleteNotice" parameterType="int" >
		delete 
		from notice_bo 
		where nno=#{nno}		
	</update>

	 -->
</mapper>