<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Stock-Mapper">
	 <sql id="search">
		<if test="searchType == 'n'.toString()">
			and equ_name like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and equ_code like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'm'.toString()">
			and equ_maker like '%'||#{keyword}||'%'			
		</if>
		<!-- <if test="searchType == 'tc'.toString()">
			and (
			notice_title like '%'||#{keyword}||'%'
			or
			notice_content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			notice_writer like '%'||#{keyword}||'%'
			or
			notice_content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			notice_title like '%'||#{keyword}||'%'
			or
			notice_writer like '%'||#{keyword}||'%'
			or
			notice_content like '%'||#{keyword}||'%'						
			)			
		</if> -->
	</sql>
	
	<select id="selectSearchEquipList" resultType="stock">		
		select *
		from(
		    select rownum as rnum,SearchEquipResult.*
		    from ( 
		    	select EQU_CODE, EQU_NAME, EQU_DATE, EQU_AMOUNT, EQU_MAKER, EQU_DISTR, EQU_PRICE
				from equipment
				where equ_code is not null
				<include refid="search" />				
				order by equ_date desc
		    )  SearchEquipResult
		    <![CDATA[
		    where rownum <= #{endRow}
		    ]]>
		)
		 <![CDATA[
		where rnum >= #{startRow}		
		 ]]>
	</select>
	
	<!-- <select id="selectEquipCount" resultType="int">
		select 
		count(*) 
		from equipment
		where equ_code is not null
		<include refid="search" />
		order by equ_date desc
		
	</select>
 -->
	<select id="selectEquipByNo" parameterType="string" resultType="stock">
		select 
		* 
		from equipment
		where equ_code=#{equCode}
	</select>
	
	<select id="selectEquipList" parameterType="string" resultType="stock">
		select 
		* 
		from equipment
		order by equ_code
	</select>
	
	
	
	<update id="insertEquip" parameterType="stock">
		insert into 
		equipment(equ_code,equ_name,equ_unit,equ_maker,equ_distr,equ_price)
		values('equ' || LPAD(EQUIPMENT_SEQ.nextval,3,0),#{equName},#{equUnit},#{equMaker},#{equDistr},#{equPrice})
	</update>	
	
	<update id="insertEpuipPreOrder" parameterType="stock">
		insert into
		pre_order (reo_code, equ_code, reo_amount, reo_date, reo_price, reo_totalpay)
		VALUES ('reo'||LPAD(EQUIPMENT_PREODER_SEQ.nextval,5,0),#{equCode},to_number(#{equStock}),TO_CHAR(SYSDATE, 'YYYYMMDD'),#{equPrice},to_number(#{equStock})*#{equPrice})		
	</update>
<!--	<select id="selectNoticeByImage" resultType="notice">
		select 
		* 
		from notice_bo
		where content like '%'||#{imageFile}||'%'	
	</select>	
	
	
	
	
	<update id="increaseViewCount" parameterType="int">
		update notice
		set viewcnt=viewcnt+1
		where nno=#{nno}
	</update>
	
	
	
		
	<update id="updateNotice" parameterType="notice">
		update notice 
		set 
		title=#{title},content=#{content}		
		where nno=#{nno}
	</update>
	
	<update id="deleteNotice" parameterType="int" >
		delete 
		from notice_bo 
		where nno=#{nno}		
	</update>
 -->
	
</mapper>